/.gradle/
/.idea/
/gradle/
settings.gradle
build.gradle
PwdEncryption.iml
gradle.properties
local.properties
gradlew.bat
gradlew

/local.properties
.gradle
.DS_Store
/build
/captures
.externalNativeBuild

